
@{
    ViewBag.Title = "可见区域搜索";
}

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=hsU2Uy0fKOVEGnmQsqqRFsGV"></script>
<div class="container">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                @Html.Partial("_MapMenus")
            </div><!-- /.col -->
            <div class="col-md-9">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">可见区域搜索</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body no-padding">
                        <div style="width:800px;height:500px;border:1px solid gray" id="container"></div>

                    </div><!-- /.box-body -->
                    <div class="box-footer no-padding">

                    </div>
                </div><!-- /. box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div>
<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("container");
    map.centerAndZoom(new BMap.Point(114.02597366, 22.54605355), 14);

    var local = new BMap.LocalSearch(map, {
        renderOptions: { map: map }
    });
    local.searchInBounds("银行", map.getBounds());

    map.addEventListener("dragend", function () {
        map.clearOverlays();
        local.searchInBounds("银行", map.getBounds());
    });
</script>